@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
    --color-black-900: #191919;
    --color-black-800: #303030;
    --color-black-700: #474747;
    --color-black-600: #5e5e5e;
    --color-black-500: #757575;
    --color-black-400: #8c8c8c;
    --color-black-300: #a3a3a3;
    --color-black-200: #bababa;
    --color-black-100: #d1d1d1;
    --color-black-50: #e8e8e8;
    --color-black-25: #f4f4f4;
    --color-purple-900: #400799;
    --color-purple-800: #5509cc;
    --color-purple-700: #6a0bff;
    --color-purple-600: #883cff;
    --color-purple-500: #a66dff;
    --color-purple-400: #c39dff;
    --color-purple-300: #d2b6ff;
    --color-purple-200: #e1ceff;
    --color-purple-100: #f0e7ff;
    --color-yellow-900: #faaf00;
    --color-yellow-800: #ffc233;
    --color-yellow-700: #ffce5c;
    --constant-darck: #18191d;
    --constant-white: #fff;
    --background-zero: var(--color-black-25);
    --background-primary: var(--constant-white);
    --background-active: var(--color-purple-100);
    --foreground-primary: var(--color-black-700);
    --color-scheme-switcher-border: var(--color-black-50);
    --badge-primary: var(--color-purple-900);
    --background-input: var(--constant-white);
    --foreground-input: var(--color-black-800);
    --gray-border: var(--color-black-100);
    --bottem-border: var(--color-black-50);
    --button-bg: var(--color-purple-800);
    --button-foreground: var(--constant-white);
    --button-foreground-hover: var(--color-purple-800);
    --font-family-primary: "Manrope", sans-serif;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --container-width: 1024px;
    --container-padding: 0;
    --accent-color: var(--color-black-700);
    --border-dropdown: var(--constant-darck);
}

[scheme="dark"] {
    --background-zero: var(--constant-darck);
    --background-primary: var(--color-black-700);
    --foreground-primary: var(--color-black-400);
    --background-active: var(--color-black-600);
    --badge-primary: var(--color-black-300);
    --color-scheme-switcher-border: transparent;
    --background-input: var(--color-black-700);
    --foreground-input: var(--color-black-300);
    --gray-border: var(--color-black-100);
    --bottem-border: var(--color-black-500);
    --accent-color: var(--color-black-50);
    --border-dropdown: var(--color-black-500);
    --button-bg: var(--color-black-800);
    --button-foreground: var(--color-black-500);
    --button-foreground-hover: var(--color-black-800);
}

body {
    background-color: var(--background-zero);
    color: var(--foreground-primary);
    line-height: 22px;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-primary);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: var(--container-width);
}

*:-moz-focusring {
    outline: 4px solid red !important;
}

*:focus-visible {
    outline: 4px solid red;
}
