.button {
    width: 123px;
    height: 48px;
    border: none;
    border-radius: 40px;
    background: var(--button-bg);
    color: var(--button-foreground);
    text-align: center;
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-primary);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    border: 1px solid var(--button-bg);
    background-color: var(--background-active);
    color: var(--button-foreground-hover);
}

.button:active {
    transform: translateY(1px);
}
