.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-elemheader-border);
    border-radius: 12%;
    background: var(--background-zero);
    color: var(--accent-color);
    cursor: pointer;
}