.search {
    width: 350px;
    height: 44px;
}

input {
    padding: 12px;
    padding-left: 40px;
    box-sizing: border-box;
    border: 1px solid var(--gray-border);
    border-radius: 63px;
    background-color: var(--background-input);
    color: var(--foreground-primary);
}
