.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    height: 72px;

    /* background: var(--background-primary); */
    border-bottom: 1px solid var(--bottem-border);
}
