.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    /* background: var(--background-primary); */
    border-bottom: 1px solid var(--bottem-border);
}