.container {
    position: relative;
}


.text {
    color: var(--color-purple-700)
}

.button {
    position: absolute;
    top: -12px;
    right: -15px;
    padding-inline: 5px;
    border: none;
    background-color: transparent;
    color: var(--color-red-600);
    cursor: pointer;
}